<div class="container">
    <h2>Olá, {{ nome }}</h2>
    <p>
        <span (click)="mostrarSaldo()">
            Saldo:
            <i class="pi pi-eye" *ngIf="saldoOculto"></i>
            <span *ngIf="!saldoOculto">{{ saldo | currency }}</span>
        </span>
    </p>
    <div class="button-container">
        <button pButton type="button" label="Buscar Extrato" icon="pi pi-arrow-right" (click)="buscarExtrato()"></button>
        <button pButton type="button" label="Movimentar Conta" icon="pi pi-arrow-right" (click)="movimentarConta()"></button>
    </div>
</div>
