<div class="container">
    <h2>Extrato</h2>
  
<div *ngIf="movimentacoes && movimentacoes.length > 0" class="container">
    <p-table [value]="movimentacoes" [style]="{ 'margin': '0 auto', 'max-width': '1000px' }" class="p-datatable">
        <ng-template pTemplate="header">
            <tr>
                <th>Código Movimentação</th>
                <th>Conta Origem</th>
                <th>Conta Destino</th>
                <th>Valor</th>
                <th>Data Movimentação</th>
                <th>Descrição</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-movimentacao>
            <tr [ngClass]="{'text-danger': movimentacao.idContaOrigem === id}">
                <td>{{ movimentacao.idMovimentacao }}</td>
                <td>{{ movimentacao.idContaOrigem }}</td>
                <td>{{ movimentacao.idContaDestino }}</td>
                <td>R$ {{ movimentacao.valor}}</td>
                <td>{{ movimentacao.dataMovimentacao | date: 'dd/MM/yyyy' }}</td>
                <td>{{ movimentacao.descricao }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
